{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{title1}}</h1>
        <div class="three_column margin_r35 vertical_divider">            
            <div class="image_wrapper" ><img src="images/{{imagen_aleatoria1}}.jpg" alt="Free Templates" /></div>	          
        </div>

  		<div class="three_column margin_r35 vertical_divider">
          <div class="image_wrapper" ><img src="images/{{imagen_aleatoria2}}.jpg" alt="Free Templates"/></div>
        </div>

         <div class="three_column">
            <div class="image_wrapper"><img src="images/{{imagen_aleatoria3}}.jpg" alt="Free Templates" /></div>
        </div>
 
{% endblock %}